{
    "amountInCents": {{VL_VALOR_ESTORNO}}, 
    "b2b": false,
    "blocked": true,
    "brand": "0{{BRAND}}",
    "constraints": {
      "restrictByCpf": true,
      "splitable": true
    },
    "contract": {
      "chargingType": "string",
      "cnpj": "string",
      "company": "string",
      "contractNumber": "string"
    },
    "costCenter": "111057",
    "cpfs": [
      "{{CPF}}"
    ],
    "customer": {
      "address": "string",
      "email": "{{EMAIL}}",
      "id": "{{CUSTOMER_ID}}"
    },
    "instanceId": "VALE-PS5-2611-62",
    "lot": 0,
    "mailing": {
      "delivery": "{{COD_ENTREGA}}",
      "message": " ",
      "template": "CC-1002"
    },
    "originalDelivery": "{{COD_ENTREGA}}",
    "originalOrder": "{{COD_PEDIDO_SITE}}",
    "refundId": "VALE-PS5-2611-62",
    "sku": "string",
    "type": "REPARO",
    "validity": 365
  }